#root{
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.container {
    display: flex;
    width:100%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .dropdown{
    text-align: right;
    margin : 20px; 
  }

  #navbar{
    display: flex;
    margin: 10px auto;
    width:100%;
  }

  #homepage{
    text-align: left;
    margin: 20px;
  }
  
  .card {
    margin: 1rem;
    width:100%;
   /* background: white;*/
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
   /* overflow: hidden;*/
    transition: all .2s linear;
  }

  

  .list-group{
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }

.card-img-top{
  height: 300px;
  width: 100;
}

#map{
  width: 80%;
  height: 300px;
  align-content: center;  
  align-items: center;
  align-self: center;
  text-align: center;
  margin: 0 auto;
}
  
.marker{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
